{% extends  "base.html" %}


{% block content %}

    <!-- MAIN -->
     <main class="main">
        <div class="main__wraper">
            
            <!-- SECCION CALCULADORA -->
            <div class="main__calculadora" id="calcular-imc">
                <h1 class="main__titulo">Calcular IMC</h1>
                <p class="main__descripcion">Ingresa tu peso y talla para calcular tu Índice de Masa Corporal</p>
                
                <form method='POST' class="formulario" id="formulario-imc">
                    {{ form.hidden_tag() }}
                    <!-- Campo Peso -->
                    <div class="formulario__grupo">
                       {{ form.peso.label(class_="formulario__label") }}
                        <div class="formulario__input-contenedor">
                            {{ form.peso(class_="formulario__input", placeholder="70", min="1", step="0.1", required=True) }}
                            <select id="unidad-peso" name="unidad-peso" class="formulario__unidad-select">
                                <option value="kg">kg</option>
                                <option value="lb">lb</option>
                            </select>
                        </div>
                    </div>

                    <!-- Campo Talla -->
                    <div class="formulario__grupo">
                        {{ form.talla.label(class_="formulario__label") }}
                        <div class="formulario__input-contenedor">
                            {{ form.talla(class_="formulario__input", placeholder="1.75", min="0.1", step="0.01", required=True) }}
                            <select id="unidad-talla" name="unidad-talla" class="formulario__unidad-select">
                                <option value="m">m</option>
                                <option value="cm">cm</option>
                            </select>
                        </div>
                    </div>

                    <!-- Botón Calcular -->
                    {{ form.calcular(class_="formulario__boton") }}
                </form>
            </div>

            <!-- SECCION INFORME -->
            <div class="main__informe">
                <div class="informe__contenedor">
                    <h2 class="informe__titulo">Resultado de tu IMC</h2>
                    
                    <div class="informe__resultado">
                        <div class="informe__numero">
                            {% if imc %}
                            <span class="informe__valor"> {{ imc }}</span>
                            {% else %}
                            <span class="informe__valor">--</span>
                            {% endif %}
                            <span class="informe__etiqueta">kg/m²</span>
                        </div>
                    </div>


                    <div class="informe__rango">
                        <h3 class="informe__subtitulo">Rangos de IMC</h3>
                        <div class="informe__item">
                            <span class="informe__color" style="background-color: var(--color-bajo-peso);"></span>
                            <div class="informe__detalle">
                                <strong>Bajo peso</strong>
                                <span>IMC &lt; 18.5</span>
                            </div>
                        </div>
                        <div class="informe__item">
                            <span class="informe__color" style="background-color: var(--color-normopeso);"></span>
                            <div class="informe__detalle">
                                <strong>Peso normal</strong>
                                <span>IMC 18.5 - 24.9</span>
                            </div>
                        </div>
                        <div class="informe__item">
                            <span class="informe__color" style="background-color: var(--color-sobre-peso);"></span>
                            <div class="informe__detalle">
                                <strong>Sobrepeso</strong>
                                <span>IMC 25 - 29.9</span>
                            </div>
                        </div>
                        <div class="informe__item">
                            <span class="informe__color" style="background-color: var(--color-obeso);"></span>
                            <div class="informe__detalle">
                                <strong>Obeso</strong>
                                <span>IMC ≥ 30</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
     </main>

{% endblock %}
